.project {
	grid-column: auto / span 1;

	display: grid;
	grid-template-rows: 30% 3rem 2fr 1fr;
	border-radius: 15px;
	border: 1px solid black;
}

.info > div {
	padding-top: 1rem;
}

.project-image {
	outline: 1px solid transparent;
  padding: 0;
	grid-row: 1/ 2;
}

.image > img {
  width: 100%;
	height: 100%;
	border-radius: 15px 15px 0 0;
}

.project-caption {
  background-color: #FFBB00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
	grid-row: 3/4;
	line-height: 2rem;
}
.info {
	padding: .5rem .5rem;
}

.info-icons > * {
	padding-right: 0.75rem;
}

.project-image:hover > h4{
  background-color: var(--accent-color);
}

.project:hover {
  transform:  translate(0, -0.75rem);
	transition: transform 0.25s ease-in-out;
	box-shadow: spread rgba(0, 0, 0, 0.3);
}

.tech-div {
	grid-row: 4/5;
	display: flex;
	margin: 1rem;
	flex-wrap: wrap;
	align-items: center;
}

.tech-div > * {
	margin: .1rem .1rem;
}



