
.main-container-portfolio{
    background-color: var(--container-color);
    color: var(--container-text-color);
    margin: 3em 1em;
    padding: 0 2em;
    min-height: 100%;
    border-radius: 25px;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 2rem 0em;
    overflow: hidden;
}
/*
.project-item {
    grid-column: auto / span 1;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 0;
}
.image {
    grid-column: 1/-1;
    grid-row: 1/ -1;
}

.image > img {
    width: 100%;
    height: 100%;
}
.project-caption {
    grid-column: 1/2 ;
    grid-row:  4/  6;
    background-color: #FFBB00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item:hover > h4{
    background-color: var(--accent-color );
}

.project-item:hover {
   transform:  rotate(10deg);
}
*/
@media (min-width: 980px) {
    .main-container-portfolio {
        margin: 5% 10%;
    }
}
