.about-container {
    background-color: var(--container-color);
    color: var(--container-text-color);
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5% 3% 0 3%;
    padding-bottom: 5%;
}

.title {
    border-bottom: solid 1px grey;
    margin: 3% 5% 3% 5%;
    padding-bottom: 2%;
}

.personal-image {
    max-width: 90%;
}


.statement {
    margin: 3% 5% 3% 5%;
    text-align: center;
    white-space:pre-wrap;
}

@media (min-width: 768px) {
    .about-container{
        max-width: 60%;
    }
    .personal-image {
        max-width: 20%;
        float: left;
        padding: 1% 2% 2% 5%;
    }
    .statement {
        margin-top: 0%;
    }
    .clearfix::after{
        content: "";
        clear: both;
        display: table;
    }
    .title {
        text-align: left;
    }
    
    
}
