.about-container {
    background-color: var(--container-color);
    color: var(--container-text-color);
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2em 1em 1em 1em;
    padding: 0 1.5em 1.5em 1.5em;
    border-radius: 25px;
}
h4 {
	margin-top: 0;	
}
.personal-image {
    max-width: 90%;
    padding: 0 1em 0 0;
}
p {
}
.lower-container {
    padding: 1em 0 0 1em;
    font-size: large;
}
.statement {
    text-align: left;
    white-space:pre-wrap;
    line-height: 1.5;
}

.skills-div {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 980px) {
    .about-container{
        margin: 5% 10%;
    }
    .lower-container {
        padding: 1em 0 0 0; 
				display: grid;
				grid-template-columns:  3fr
    }
    .statement {
        margin-top: 0;
        text-align: left;
    }
    .clearfix::after{
        content: "";
        clear: both;
        display: table;
    }
}
