
.contact-container { 
    background-color: var(--container-color);
    color: var(--container-text-color);
    max-width: 60%;
}

@media (max-width: 1199px) {
    .contact-container {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .contact-container {
        float: left;
        margin-left: 3rem;
        max-width: 50%;
    }
}   