.navbar {
    background-color: var(--nav-color);
}
.brand {
    color: white; 
    border-bottom: 2px solid white ;
    font: 2rem sans-serif;
    padding: .25em 0 .25em 0;
    text-align: center;
}
.navbar-links {
    font: 1rem sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
		flex-wrap: wrap;
}
.navbar-links > * {
    color:  white;
    padding: .5rem 1em;
    text-decoration: none;
}
.navbar-links> *:nth-child(2) {
    border-right: 2px white solid;
		border-left: 2px white solid;
    padding: .5rem 1rem;
}

.navbar-links > div:last-child {
    border-right: none;
}

.navbar-links > a:hover {
    background-color: var(--accent-color);
}

.links {
    display: flex;
    align-items: center;
}
  
.links > * {
    color:inherit;
    text-decoration: none;
}


.links > a:nth-child(2) {
	margin: 0 1rem;
}
  
.icon-scale:hover {
    transform: scale(1.5);
}

.email-span{
    display: inline-block;
    position: relative;
}

.text {
    display: none;
    border-radius: 10px;
    color: white;
}

.email-span:hover > .text {
    background-color: var(--accent-color);
    transition: 5s;
    display: inline-block;
    position: absolute;
    left: calc(50% - 1rem);
    bottom: -4rem;
    transform: translateX(-50%); 
    padding: 0 .5rem;
    border: 1px solid white;
    white-space: nowrap;
}

.arrow-up::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid var(--accent-color);

    position: absolute;
    left: calc(50% - 1rem);
    top: -12%; 
}

@media (min-width: 980px) {
    .navbar {
        display: flex;
        padding: 0 10%;
    }
		.navbar-links > * {
			border-right: 2px white solid;
			padding: .5rem 1rem;
		}
    .brand {
        margin-right: auto;
        border: none;
    }
    .email-span:hover > .text {

    }
}

