:root {
   --accent-color: #FB6542;
   --nav-color:   #375E97;
   --container-color:  rgb(255, 255, 255);
   --container-text-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(201, 191, 191);
    height: 100vh;
}

.title-border {
    border-bottom: solid;
    border-color: var(--accent-color);
    padding-top: .5em;
}

.blank-bar {
    background-color: var(--accent-color); 
    height: .3rem;
}
